---
layout: default
permalink: /promotions/
---

{% assign sorted_promotions = (site.data.promotions.promotions | sort: 'year' | reverse) %}

<div class="page-header">
  <h1>{% t promotions.title %}</h1>

<div class="row-fluid">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% t promotions.introductionTitle %}</h3>
    </div>

    <div class="panel-body">
    <p>{% t promotions.introduction %}</p>
    </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
</div>

{% for promotion in sorted_promotions %}
  {% assign remainder = promotion.year | modulo:2 %}
  {% if remainder == 1 %}
    {% assign panel = 'panel-odd-year' %}
  {% else %}
    {% assign panel = '' %}
  {% endif %}

  <a id="{{ promotion.master }}-{{promotion.year}}" class="anchor"></a>
  {% for student in promotion.students %}
  <a name="{{ student.name }}"></a>
  {% endfor %}

  <div id="{{ panel }}" class="container-fluid">
    <center>
      <div style="padding-bottom:50px;"><h2>{% t promotions.promotion %} {{ promotion.master }} {{ promotion.year }}</h2></div>
    </center>


    <div class="row-fluid">
    {% for student in promotion.students %}
      <div class="col-md-4">
        <table class="table table-condensed table-hover table-striped table-bordered">
        <tbody>
        <tr><td colspan="2" style="text-align:center"><h3 class="marketing-title">{{ student.name }}</h3></td></tr>
        <tr>
          <td class="marketing-title">Email</td>
          <td ><a href="mailto:{{student.email}}">{{student.email}}</a></td>
        </tr>
        <tr>
          <td class="marketing-title">{% t promotions.recentjob %}</td>
          <td>{{student.last-known-job}}, {{student.last-known-company}}</td>
        </tr>
        </tbody>
        </table>
      </div>
    {% endfor %}
    </div>

  </div>
{% endfor %}
