    <!-- Return to top arrow -->
    <a href="#" class="back-to-top" style="display: inline;">
      <i class="fa fa-arrow-circle-up fa-6"></i>
    </a>

    <hr class="soften">

    <div class="container-fluid" style="padding-top:50px">
      <center><h2>{% t common.sharesite %}</h2></center>
      <div id="share" class="centered" style="margin-top: 50px"></div>

      <center style="margin-top:50px">

      <a href="mailto:contact-csmi@cemosis.fr" class="btn btn-primary btn-lg hvr-pulse-grow" role="button" style="width:200px"><span class="fa fa-question"></span>{% t global.contactButton%}</a>

      <a href="https://aria.u-strasbg.fr/" class="btn btn-success btn-lg hvr-pulse-grow" role="button" style="width:200px"><span class="fa fa-check"></span>{% t global.applyButton%}</a>

      <a href="https://github.com/cemosis/csmi.cemosis.fr/issues" class="btn btn-danger btn-lg hvr-pulse-grow" role="button" style="">{% t common.report %}</a>

      </center>
    </div>
