<footer class="footer">

  <div class="container">
    <div class="row-fluid">
      <ul class="footer-links">
        <li>
          <p style="padding-top:20px">&copy; Cemosis 2015 Tous droits réservés</p>
        </li>
        <li>
          <a href="{{ site.baseurl }}//news">Actualités</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}//about">&Agrave; propos et mentions légales</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/groups?home=&gid=3923807&trk=anet_ug_hm"><i class="fa fa-linkedin"></i>&nbspLinkedIn</a>
        </li>
        <li>
          <p>Icons made by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com">flaticon</a></p>
        </li>
      </ul>
    </div>
  </div>

</footer>
