<footer class="footer">

  <div id="sitemap" class="container-fluid">
    <div class="row-fluid"> 
      <div class="col-md-2"></div>   
      <div class="col-md-3">
        <ul>
          <li>
            <h4>Page d'acceuil</h4>
          </li>
          <li>
            <a href="/#testimony">Témoignage</a>
          </li>
          <li>
            <a href="/#access">Accès</a>
          </li>
          <li>
            <a href="/#metiers">Métiers</a>
          </li>
          <li>
            <a href="/#course">Enseignements</a>
          </li>
          <li>
            <a href="/#agenda">Agenda des cours</a>
          </li>
          <li>
            <a href="/#partnership">Partenaires</a>
          </li>
          <li>
            <a href="/#international">Relations internationales</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">      
        <ul>
          <li>
            <h4>Actualités</h4>
          </li>
          <li>
            <a href="/news/">Actualités</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li>
            <h4>Enseignements</h4>
          </li>
          <li>
            <a href="/course/#S1">Semestre 1</a>
          </li>
          <li>
            <a href="/course/#S2">Semestre 2</a>
          </li>
          <li>
            <a href="/course/#S3">Semestre 3</a>
          </li>
          <li>
            <a href="/course/#S4">Semestre 4</a>
          </li>
        </ul>
      </div>
      
      <div class="col-md-1"></div>
    </div>         
  </div>      


  <div class="container">
    <div class="row">
      <ul class="footer-links">
        <li>
          <p style="padding-top:20px">&copy; Cemosis 2015 Tous droits réservés</p>
        </li>
        <li>
          <a href="/about">&Agrave; propos</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/groups?home=&gid=3923807&trk=anet_ug_hm"><i class="fa fa-linkedin"></i>&nbspLinkedIn</a>
        </li>
        <li>
          <p>Icons made by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com">flaticon</a></p>
        </li>
      </ul>
    </div>
  </div>

</footer>
