
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- logo -->
      <a class="navbar-brand" href="http://www.unistra.fr/">
        <img alt="Unistra" src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo.png" style="height:30px">
      </a>
      <a class="navbar-brand" href="https://mathinfo.unistra.fr/">
        <img alt="UFR" src="https://clarinet.u-strasbg.fr/~gallais/uploads/Site//ufr.png" style="height:30px">
      </a>
      </div>

      <a class="navbar-brand" href="http://www.cemosis.fr">
        <img alt="Brand" src="http://www.google.com/a/cpanel/cemosis.fr/images/logo.gif?service=google_default" style="height:30px">
      </a>

      {% assign sorted_promotions = (site.data.promotions.promotions | sort: 'year' | reverse) %}
      <!-- Navbar buttons -->
      <div class="collapse navbar-collapse" id="main-navbar">

        <ul class="nav navbar-nav navbar-right">
          <!-- auto active current page -->
          <li class="{% if page.url contains 'index.html' %}active{% endif %}"><a href="/index.html">{% t navbar.home %}</a></li>
          <li class="{% if page.url contains '/team/' %}active{% endif %}"><a href="/team">{% t navbar.team %}</a></li>

          <li class="dropdown {% if page.url contains '/promotions/' %}active{% endif %}">
          <a href="/promotions" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           {% t navbar.promotions %} <span class="caret"></span></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
             {% for promotion in sorted_promotions %}
              <li><a href="/promotions/#{{ promotion.master }}-{{promotion.year}}">{{ promotion.master }} {{ promotion.year}}</a></li>
             {% endfor %}
            </ul>
          </li>

          <!--<li class="{% if page.url contains '/promotions/' %}active{% endif %}"><a href="/promotions">{% t navbar.promotions %}</a></li>-->
          <li class="{% if page.url contains '/news/' %}active{% endif %}"><a href="/news">{% t navbar.news %}</a></li>

          <li class="dropdown {% if page.url contains '/courses/' %}active{% endif %}">
          <a href="/courses" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           {% t navbar.courses %} <span class="caret"></span></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/courses/#S1">Semestre 1</a></li>
              <li><a href="/courses/#S2">Semestre 2</a></li>
              <li><a href="/courses/#S3">Semestre 3</a></li>
              <li><a href="/courses/#S4">Semestre 4</a></li>
            </ul>
          </li>
          <!--<li class="{% if page.url contains '/course/' %}active{% endif %}"><a href="/course">{% t navbar.course %}</a></li>-->
      </div><!-- /.navbra-collapse -->

    </div><!-- /.container-fluid -->
  </nav>
