<div id="panel-sections" class="container-fluid">
  <div id="sections" class="centered">
    <div class="row-fluid">
      <div class="col-md-4" style="padding-top:30px">
      <a class="hvr-bounce-in" href="#testimony"><img src="/images/icons/message.png"></a>
        <h3>{% t index.testimony %}</h3>
      </div>

      <div class="col-md-4" style="padding-top:30px">
        <a class="hvr-bounce-in" href="#access"><img src="/images/icons/mind.png"></a>
        <h3>{% t index.access %}</h3>
    </div>


      <div class="col-md-4" style="padding-top:30px">
         <a class="hvr-bounce-in" href="#metiers"><img src="/images/icons/businessman.png"></a>
         <h3>{% t index.metiers %}</h3>
      </div>
    </div>

    <div class="row-fluid">

      <div class="col-md-4" style="padding-top:30px">
        <a class="hvr-bounce-in" href="#international"><img src="/images/icons/world.png"></a>
        <h3>{% t index.international %}</h3>
      </div>

      <!--<div class="col-md-4" style="margin-top:50px">
        <a class="hvr-bounce-in" href="#agenda"><img src="/images/icons/calendar.png"></a>
        <h3>{% t index.agendaCourse %}</h3>
      </div>-->

      <div class="col-md-4" style="padding-top:30px">
        <a class="hvr-bounce-in" href="#partnership"><img src="/images/icons/users.png"></a>
        <h3>{% t index.partnership %}</h3>
      </div>

      <div class="col-md-4" style="padding-top:30px">
      </div>
    </div>
    <!-- 3rd line -->
    <!--<div class="row-fluid">
      <div class="col-md-4" style="margin-top:50px"></div>
      <div class="col-md-4" style="margin-top:50px"></div>
      <div class="col-md-4" style="margin-top:50px"></div>
    </div>-->
  </div>
</div>




  <span class="anchor" id="testimony"></span>
  <div id="panel-testimony" class="container-fluid">
    <center>
      <div style="padding-bottom:50px;"><h2>{% t index.testimonyPanel.title %}</h2></div>
    </center>

    <div class="row-fluid">

    {% for testimony in site.data.testimony.testimony | limit:4 %}
      <div class="col-md-6">
        <blockquote class="testimonial"><p id="{{ testimony.id }}">{{ testimony.testimony }}</p></blockquote>
        <div class="arrow-down"></div>
        <p class="testimonial-author">{{ testimony.author }} | <span>{{ testimony.job }}</span></p>
      </div>

    {% endfor %}
    </div>

    <center style="padding-top:50px">{% t index.testimonyPanel.joinGroup %} <a href="https://www.linkedin.com/groups?home=&amp;gid=3923807&amp;trk=anet_ug_hm"><i class="fa fa-linkedin fa-lg"></i>&nbsp{% t index.testimonyPanel.groupLink %}</a></center>
  </div>



  <span class="anchor" id="access"></span>
  <div id="panel-access" class="container-fluid">
    <center>
      <div><h2>{% t index.accessPanel.title %}</h2></div>
    </center>

    <center>
      <div><h3>{% t index.accessPanel.prerequisite %}</h3></div>
    </center>

    <div class="row-fluid">
      <div class="col-md-6" style="padding-top:50px">
        <h3 class="marketing-title">{% t index.accessPanel.title1 %}</h3>
        <div style="text-align:center"><p>{% t index.accessPanel.title1Desc %}
          {% t index.accessPanel.title1Info %}</p>
        </div>
      </div>
      <div class="col-md-6" style="padding-top:50px">
        <h3 class="marketing-title">{% t index.accessPanel.title2 %}</h3>
        <div style="text-align:center">
          <p>{% t index.accessPanel.title2Desc %}</p>
        </div>
      </div>

    </div>
    <div class="row-fluid" style="text-align:center">
     <div style="text-align:center;padding-top:50px">
     <a href="mailto:contact-csmi@cemosis.fr" class="btn btn-lg btn-primary hvr-pulse-grow" role="button" ><span class="fa fa-question"></span> {% t global.contactButton %}</a>
     <a href="https://aria.u-strasbg.fr/" class="btn btn-lg btn-success hvr-pulse-grow" role="button" ><span class="fa fa-check"></span> {% t global.applyButton %}</a>
    </div>
    </div>
  </div>




  <div id="panel-diploma" class="container-fluid">
    <center  style="padding-top:50px">
      <h2>{% t index.accessPanel.diplomaTitle %}</h2>
    </center>

    <div class="row-fluid" style="padding-top:50px">
       <div class="col-md-4">
         <h3 class="marketing-title">{% t index.accessPanel.diploma1Title %}</h3>
         <p>{% t index.accessPanel.diploma1Desc %}</p>
       </div>
       <div class="col-md-4">

         <h3 class="marketing-title">{% t index.accessPanel.diploma2Title %}</h3>
         <p>{% t index.accessPanel.diploma2Desc %}</p>
       </div>
       <div class="col-md-4">

         <h3 class="marketing-title">{% t index.accessPanel.diploma3Title %}</h3>
         <p>{% t index.accessPanel.diploma3Desc %}</p>
       </div>
     </div>

    <div class="row-fluid" style="padding-top:50px">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3 class="marketing-title">{% t index.accessPanel.diploma4Title %}</h3>
        <p>{% t index.accessPanel.diploma4Desc %}</p>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row-fluid" style="text-align:center">
     <div style="text-align:center;padding-top:50px">
     <a href="mailto:contact-csmi@cemosis.fr" class="btn btn-lg btn-primary hvr-pulse-grow" role="button" ><span class="fa fa-question"></span> {% t global.contactButton %}</a>
     <a href="https://aria.u-strasbg.fr/" class="btn btn-lg btn-success hvr-pulse-grow" role="button" ><span class="fa fa-check"></span> {% t global.applyButton %}</a>
    </div>
    </div>
  </div>




  <span class="anchor" id="metiers"></span>
  <div id="panel-metiers" class="container-fluid">
    <center>
      <div><h2>{% t index.metierPanel.title %}</h2></div>
    </center>

    <div class="row-fluid" style="text-align:center">
      <div class="col-md-4">
       <h3 class="marketing-title">{% t index.metierPanel.forum %}</h3>
       <a href="http://www.forum-emploi-maths.org/"><div class="thumbnail" style="width=50%">
         <img src="/images/fem4.png"  style="min-height:256px;height:256px;">
         <div class="caption" >
           <address>
             <strong></strong><br>
             <span class="article-highlight-label">{% t index.metierPanel.forumDesc %}</span><br>
           </address>
         </div>
       </div></a>

      </div>
      <div class="col-md-4">
       <h3 class="marketing-title">{% t index.metierPanel.onisep %}</h3>
       <a href="http://www.onisep.fr/content/download/769765/14361027/file/Telechargez%20le%20zoom%20m%C3%A9tiers%20maths.pdf"><div class="thumbnail" >
         <img src="http://www.onisep.fr/var/onisep/storage/images/media/images/toute-l-actualite-nationale/mars-2015/zoom-mathematiques/14360966-1-fre-FR/Zoom-mathematiques.png"  style="min-height:256px;height:256px;">
         <div class="caption" >
           <address>
             <strong></strong><br>
             <span class="article-highlight-label">{% t index.metierPanel.onisepDesc %}</span><br>
           </address>
         </div>
       </div></a>

      </div>
      <div class="col-md-4">
        <h3 class="marketing-title">{% t index.metierPanel.eumathsin %}</h3>
        <a href="http://jobs.eu-maths-in.eu"><div class="thumbnail" >
          <img src="http://eu-maths-in.cz/images/eu-maths-in-eu-logo.png"  style="min-height:256px;height:256px;width=50%;min-width=50%">
          <div class="caption" >
            <address>
              <strong></strong><br>
              <span class="article-highlight-label">{% t index.metierPanel.eumathsinDesc %}</span><br>
            </address>
          </div>
        </div></a>

      </div>

    </div>
    <div class="row-fluid" style="text-align:center">
      <div class="col-md-4">
       <h3 class="marketing-title">{% t index.metierPanel.cnrs %}</h3>
       <a href="http://calcul.math.cnrs.fr/spip.php?article11"><div class="thumbnail" style="width=50%">
         <img src="/images/logos/logo-groupe-calcul-cnrs.jpg"  style="min-height:256px;height:256px;">
         <div class="caption" >
           <address>
             <strong></strong><br>
             <span class="article-highlight-label">{% t index.metierPanel.cnrsDesc %}</span><br>
           </address>
         </div>
       </div></a>

      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
     </div>
  </div>

<!--
  <span class="anchor" id="course"></span>
  <div id="panel-course" class="containter-fluid">
    <center><h2>Enseignement</h2></center>

    <div class="container-fluid" style="padding-top: 50px padding-bottom:50px">
      <div class="col-md-6" style="padding-top:50px">
        <h3 class="centered">Semestre 1</h3>
        <table class="table table-bordered table-hover table-striped">
        <tbody>

        <tr>
          <td colspan="2"><b>UE obligatoires</b></td>
        </tr>

        {% for course in site.data.course.courseS1 %}

        <tr>
          <td>• <b><a href="{{ link-lang }}/courses/#{{ course.id }}">{{ course.name }}</a></b></td>

        </tr>

        {% endfor %}
        </tbody>
        </table>
      </div>

      <div class="col-md-6" style="padding-top:50px">
        <h3 class="centered">Semestre 2</h3>
        <table class="table table-bordered table-hover table-striped">
        <tbody>

        <tr>
          <td colspan="2"><b>UE obligatoires</b></td>
        </tr>

        {% for course in site.data.course.courseS2 %}

        <tr>
          <td>• <b><a href="{{ link-lang }}/courses/#{{ course.id }}">{{ course.name }}</a></b></td>
        </tr>

        {% endfor %}

          <td colspan="2"><b>UE obligatoires à choix</b></td>
        </tr>
        <tr>
          <td align="center" colspan="2">1 UE à choisir parmi 2</td>
        </tr>

        {% for course in site.data.course.courseS2UEChoice %}

        <tr>
          <td>• <b><a href="{{ link-lang }}/courses/#{{ course.id }}">{{ course.name }}</a></b></td>
        </tr>

        {% endfor %}

        </tbody>
        </table>
      </div>

      <div class="col-md-6" style="padding-top:50px">
        <h3 class="centered">Semestre 3</h3>
        <table class="table table-bordered table-hover table-striped">
        <tbody>

        <tr>
          <td colspan="2"><b>UE obligatoires</b></td>
        </tr>

        {% for course in site.data.course.courseS3 %}

        <tr>
          <td>• <b><a href="{{ link-lang }}/courses/#{{ course.id }}">{{ course.name }}</a></b></td>
        </tr>

        {% endfor %}

        </tbody>
        </table>
      </div>

      <div class="col-md-6" style="padding-top:50px">
        <h3 class="centered">Semestre 4</h3>
        <table class="table table-bordered table-hover table-striped">
        <tbody>

          <tr>
          <td colspan="2"><b>UE obligatoires</b></td>
          </tr>

          {% for course in site.data.course.courseS4 %}

          <tr>
          <td>• <b><a href="{{ link-lang }}/courses/#{{ course.id }}">{{ course.name }}</a></b></td>
          </tr>

          {% endfor %}

        </tbody>
        </table>
      </div>
    </div>
  </div>
-->

 <!-- <span class="anchor" id="agenda"></span>
  <div  id="panel-agenda"class="container-fluid">
    <center><h2>Agenda</h2></center>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Ici se trouve l'agenda de la semaine courante de l'agenda des cours et accès au calendier de l'année</p>
    </div>
    <div class="col-md-4"></div>
  </div>-->

  <!-- International -->
  <span class="anchor" id="international"></span>
  <div id="panel-international" class="container-fluid">
    <center><h2>{% t index.internationalPanel.title %}</h2></center>

    <div class="row-fluid" style="text-align:center">
     <div class="col-md-6">
      <h3 class="marketing-title">{% t index.internationalPanel.ecmi %}</h3>
       <p>{% t index.internationalPanel.ecmiDesc %}</p>
     </div>
     <div class="col-md-6">
      <h3 class="marketing-title">{% t index.internationalPanel.modelisationweek %}</h3>
      <p>{% t index.internationalPanel.modelisationweekDesc %}</p>
     </div>
    </div>

    <div class="row-fluid">
     <h3 class="marketing-title">{% t index.internationalPanel.ecmiTestimony %}</h3>
      {% for tECMI in site.data.testimony.testimonyECMI | limit: 4 %}

      <div class="col-md-6">
        <blockquote class="testimonial"><p id="{{ tECMI.id }}">{{ tECMI.testimony }}</p></blockquote>
        <div class="arrow-down"></div>
        <p class="testimonial-author"><a href="{{ link-lang }}/promotions/#{{ tECMI.author }}">{{ tECMI.author }}</a> | <span>{{ tECMI.job }}</span></p>
      </div>
      {% endfor %}
    </div>

  </div>



  <span class="anchor" id="partnership"></span>
  <div  id="panel-partnership" class="container-fluid">

    <center><h2>{% t index.partnershipPanel.partner %}</h2></center>

    <div class="row-fluid" style="text-align:center">
      <div class="col-md-6">
        <p><a href="http://www.unistra.fr/"><img src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo.png" height="100"></a></p>
      </div>

      <div class="col-md-6">
        <p><a href="https://mathinfo.unistra.fr/"><img src="https://clarinet.u-strasbg.fr/~gallais/uploads/Site//ufr.png" height="100"></a></p>
      </div>
    </div>
    <div class="row-fluid" style="text-align:center">
      <div class="col-md-6">
        <p><a href="http://www-irma.u-strasbg.fr/"><img src="http://www-irma.u-strasbg.fr/plugins/kitcnrs/images/logoIRMA.gif" height="100"></a></p>
      </div>
      <div class="col-md-6">
        <p><a href="http://www.cemosis.fr/"><img src="http://www.google.com/a/cpanel/cemosis.fr/images/logo.gif?service=google_default" height="100"></a></p>
      </div>
    </div>
  </div>

   <span class="anchor" id="network"></span>
   <div  id="panel-network" class="container-fluid">   
    <center><h2>{% t index.partnershipPanel.network %}</h2></center>

    <div class="row-fluid" style="text-align:center">

     <div class="col-md-4">
       <p><a href="http://calcul.math.cnrs.fr/"><img src="/images/logos/logo-groupe-calcul-cnrs.jpg" height="100"></a></p>
     </div>

      <div class="col-md-4">
        <p><a href="http://www.agence-maths-entreprises.fr"><img src="http://www.agence-maths-entreprises.fr/a/sites/all/themes/united/images/logoHeaderXL.png" height="100"></a></p>
      </div>

      <div class="col-md-4">
        <p><a href="https://www.eu-maths-in.eu/"><img src="http://eu-maths-in.cz/images/eu-maths-in-eu-logo.png" height="100" ></a></p>
      </div>

    </div>

    <center><h2>{% t index.partnershipPanel.entreprise %}</center>

  </div>
