<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include header.html %}


    {{ content }}

    
    <!-- Return to top arrow -->
    <a href="#" class="back-to-top" style="display: inline;">
      <i class="fa fa-arrow-circle-up fa-6"></i>
    </a>
    


    <hr class="soften">

    <center style="margin-top:50px"><h2>Partager notre site</h2></center>

    <div id="share" class="centered" style="margin-top: 50px"></div>

    <center style="margin-top:50px">

      <a href="mailto:contact-csmi@cemosis.fr" class="btn btn-primary btn-lg hvr-pulse-grow" role="button" style="width:200px">Contactez-nous</a>

      <a href="https://aria.u-strasbg.fr/" class="btn btn-success btn-lg hvr-pulse-grow" role="button" style="width:200px">Candidatez</a>

    </center>

    {% include footer.html %}

    {% include script.html %}


  </body>

</html>
