<!DOCTYPE html>
<html>
  <!-- links between languages, add {{ link-lang }} before any internal URLs-->
  {% assign link-lang = "" %}
  {% if site.lang == "en" %}
    {% assign link-lang = "/en" %}
  {% endif %}
  {% if site.lang == "de" %}
    {% assign link-lang = "/de" %}
  {% endif %}


  {% include head.html %}

  <body>

  <p>If you see this from yuheng.fr, then webhook works!</p>

    {% include header.html %}



    {% include main-body.html %}

    {% include common.html %}


    {% include footer.html %}

    {% include script.html %}


    <!-- read more option's code, using Readmore.js -->
    <script type="text/javascript">
      $('#testimony-1').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });
      $('#testimony-2').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });
      $('#testimony-3').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });
      $('#testimony-4').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });

      $('#testimonyECMI-1').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });
      $('#testimonyECMI-2').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });
      $('#testimonyECMI-3').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });
      $('#testimonyECMI-4').readmore({
        collapsedHeight: 150,
        lessLink: '<a href="#">Lire moins</a>',
        moreLink: '<a href="#">Lire la suite...</a>'  
      });          
    </script>

  </body>

</html>