<!DOCTYPE html>
<html>
<!-- links between languages, add {{ link-lang }} before any internal URLs-->
{% assign link-lang = "" %} 
{% if site.lang == "en" %} 
  {% assign link-lang = "/en" %} 
{% endif %} 
{% if site.lang == "de" %} 
{% assign link-lang = "/de" %} 
{% endif %} 
{% include head.html %}

<body>
    {% include header.html %}
    {% include main-body.html %} 
    {% include common.html %}
    {% include footer.html %}
    {% include script.html %}

    <!-- read more option's code, using Readmore.js -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('.read-more').readmore({
            collapsedHeight: 150,
            lessLink: '<a href="#">{% t index.readless %}</a>',
            moreLink: '<a href="#">{% t index.readmore %}</a>'
        });
    });
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        
      });
    </script>
</body>

</html>
