---
layout: default
permalink : /courses/info/
---

<div class="jumbotron" style="border-bottom: 1px solid black vertical-align">
  <div class="container-fluid">
    <div class="row-fluid">

        <h1>{% t global.masterName1 %}</h1>
        <h1 style="text-align:center">{% t global.masterName2 %}</h1>

        <blockquote class="testimonial"><h2>{% t global.slogan %}</h2></blockquote>

      </div>




    </div>
  </div>
</div>

  <center>
    <h1>Les cours du Master par semestre et thématique</h1>
  </center>

<div class="container-fluid" style="padding-top:50px">

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">{% t courses.navtabAll %}</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {% t courses.navtabDiscipline %} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu {% if page.url contains '/math/' %}active{% endif %} {% if page.url contains '/info/' %}active{% endif %} {% if page.url contains '/inter/' %}active{% endif %}">
        <li><a href="{{ link-lang }}/courses/info">{% t courses.navtabInfo %}</a></li>
        <li><a href="{{ link-lang }}/courses/math">{% t courses.navtabMath %}</a></li>
        <li><a href="{{ link-lang }}/courses/inter">{% t courses.navtabInter %}</a></li>
      </ul>
    </li>

    <li role="presentation"><a href="#">{% t courses.navtabCategory %}</a></li>
  </ul>

   <a class="anchor" id="S1"></a>
   <div style="text-align:center"><h1>Semestre 1</h1></div>
   <div class="row-fluid">
  {% for course in site.data.course.courseS1 %}
  {% if course.discipline == 'info' %}
  <div class="col-md-4" >

    <a class="anchor" id="{{ course.id }}">{{ course.name }}</a>
    <table class="table table-bordered table-striped" style="margin-top:50px">
      <tbody>
        <tr style="background-color:#CCCCCC">
          <td style="text-align:center"><h2>{{ course.name }}</h2></td>
        </tr>
        <tr>
          <td>
            <h3>Contenu</h3>
            <p>{{ course.content }}</p>
            <h3>Objectifs : savoir-faire et compétences</h3>
            <p>{{ course.knowledege }}</p>
            <h3>ECTS: <small>{{ course.ects }}</small></h3>
            <h3>Autres informations</h3>
            <p>{{ course.info }}</p>
            <h3>Enseignant(s):</h3>
          {% if course.teacher %}
            <ul>
          {% assign teacher = | course.teacher | split:";" %}
          {% for id in teacher %}
          {% for member in site.data.team.members %}
          {% if member.id == id %}
            {% assign name = member.name %}
          {% endif %}
          {% endfor %}
              <li><a href="{{ link-lang }}/team/#{{ id }}">{{ name }}</a></li>
          {% endfor %}
            </ul>
          {% else %}
            <br>
          {% endif %}

            <table class="table table-bordered table-striped">
              <tr>
                <td><h3>Volume horaire</h3></td>
              </tr>
              <tr>
                <td style="text-align:center"><p>{{ course.duration }}</p></td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
  {% endfor %}
  </div>

  <a class="anchor" id="S2"></a>
  <div style="text-align:center"><h1>Semestre 2</h1></div>
  <div class="row-fluid">
  {% for course in site.data.course.courseS2 %}
  {% if course.discipline == 'info' %}
    <div class="col-md-4" >

      <a class="anchor" id="{{ course.id }}">{{ course.name }}</a>
      <table class="table table-bordered table-striped" style="margin-top:50px">
        <tbody>
          <tr style="background-color:#CCCCCC">
            <td style="text-align:center"><h2>{{ course.name }}</h2></td>
          </tr>
          <tr>
            <td>
              <h3>Contenu</h3>
              <p>{{ course.content }}</p>
              <h3>Objectifs : savoir-faire et compétences</h3>
              <p>{{ course.knowledege }}</p>
              <h3>ECTS: <small>{{ course.ects }}</small></h3>
              <h3>Autres informations</h3>
              <p>{{ course.info }}</p>
              <h3>Enseignant(s):</h3>
          {% if course.teacher %}
              <ul>
          {% assign teacher = | course.teacher | split:";" %}
          {% for id in teacher %}
          {% for member in site.data.team.members %}
          {% if member.id == id %}
            {% assign name = member.name %}
          {% endif %}
          {% endfor %}
                <li><a href="{{ link-lang }}/team/#{{ id }}">{{ name }}</a></li>
          {% endfor %}
              </ul>
          {% else %}
            <br>
          {% endif %}

              <table class="table table-bordered table-striped">
                <tr>
                  <td><h3>Volume horaire</h3></td>
                </tr>
                <tr>
                  <td style="text-align:center"><p>{{ course.duration }}</p></td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
  {% endfor %}

    {% for course in site.data.course.courseS2UEChoice %}
    {% if course.discipline == 'info' %}
  <div class="col-md-4" >
   <a class="anchor" id="{{ course.id }}">{{ course.name }}</a>
   <table class="table table-bordered table-striped" style="margin-top:50px">
    <tbody>
    <tr style="background-color:#CCCCCC">
     <td style="text-align:center"><h2>{{ course.name }}</h2></td>
    </tr>
    <tr>
     <td>
      <h3>Contenu</h3>
      <p>{{ course.content }}</p>
      <h3>Objectifs : savoir-faire et compétences</h3>
      <p>{{ course.knowledege }}</p>
      <h3>ECTS: <small>{{ course.ects }}</small></h3>
      <h3>Autres informations</h3>
      <p>{{ course.info }}</p>
      <h3>Enseignant(s):</h3>
       {% if course.teacher %}
       <ul>
        {% assign teacher = | course.teacher | split:";" %}
        {% for id in teacher %}
        {% for member in site.data.team.members %}
          {% if member.id == id %}
          {% assign name = member.name %}
          {% endif %}
         {% endfor %}
        <li><a href="{{ link-lang }}/team/#{{ id }}">{{ name }}</a></li>
        {% endfor %}
       </ul>
       {% else %}
       <br>
       {% endif %}

      <table class="table table-bordered table-striped">
       <tr>
        <td><h3>Volume horaire</h3></td>
       </tr>
       <tr>
        <td style="text-align:center"><p>{{ course.duration }}</p></td>
       </tr>
      </table>
     </td>
    </tr>
    </tbody>
   </table>
  </div>
  {% endif %}
  {% endfor %}

   </div>

   <a class="anchor" id="S3"></a>
   <div style="text-align:center"><h1>Semestre 3</h1></div>
   <div class="row-fluid">
  {% for course in site.data.course.courseS3 %}
  {% if course.discipline == 'info' %}
  <div class="col-md-4" >
   <a class="anchor" id="{{ course.id }}">{{ course.name }}</a>
   <table class="table table-bordered table-striped" style="margin-top:50px">
    <tbody>
    <tr style="background-color:#CCCCCC">
     <td style="text-align:center"><h2>{{ course.name }}</h2></td>
    </tr>
    <tr>
     <td>
      <h3>Contenu</h3>
      <p>{{ course.content }}</p>
      <h3>Objectifs : savoir-faire et compétences</h3>
      <p>{{ course.knowledege }}</p>
      <h3>ECTS: <small>{{ course.ects }}</small></h3>
      <h3>Autres informations</h3>
      <p>{{ course.info }}</p>
      <h3>Enseignant(s):</h3>
       {% if course.teacher %}
       <ul>
        {% assign teacher = | course.teacher | split:";" %}
        {% for id in teacher %}
        {% for member in site.data.team.members %}
          {% if member.id == id %}
          {% assign name = member.name %}
          {% endif %}
         {% endfor %}
        <li><a href="{{ link-lang }}/team/#{{ id }}">{{ name }}</a></li>
        {% endfor %}
       </ul>
       {% else %}
       <br>
       {% endif %}
      <table class="table table-bordered table-striped">
       <tr>
        <td><h3>Volume horaire</h3></td>
       </tr>
       <tr>
        <td style="text-align:center"><p>{{ course.duration }}</p></td>
       </tr>
      </table>
     </td>
    </tr>
    </tbody>
   </table>
   </div>
  {% endif %}
  {% endfor %}
  </div>

   <a class="anchor" id="S4"></a>
   <div style="text-align:center"><h1>Semestre 4</h1></div>
   <div class="row-fluid">
  {% for course in site.data.course.courseS4 %}
  {% if course.discipline == 'info' %}
  <div class="col-md-4" >
   <a class="anchor" id="{{ course.id }}">{{ course.name }}</a>
   <table class="table table-bordered table-striped" style="margin-top:50px">
    <tbody>
    <tr style="background-color:#CCCCCC">
     <td style="text-align:center"><h2>{{ course.name }}</h2></td>
    </tr>
    <tr>
     <td>
      <h3>Contenu</h3>
      <p>{{ course.content }}</p>
      <h3>Objectifs : savoir-faire et compétences</h3>
      <p>{{ course.knowledege }}</p>
      <h3>Autres informations</h3>
      <p>{{ course.info }}</p>
      <h3>Enseignant(s):</h3>
       {% if course.teacher %}
       <ul>
        {% assign teacher = | course.teacher | split:";" %}
        {% for id in teacher %}
         {% for member in site.data.team.members %}
          {% if member.id == id %}
          {% assign name = member.name %}
          {% endif %}
         {% endfor %}

        <li><a href="{{ link-lang }}/team/#{{ id }}">{{ name }}</a></li>
        {% endfor %}
       </ul>
       {% else %}
       <br>
       {% endif %}

      <table class="table table-bordered table-striped">
       <tr>
        <td><h3>Volume horaire</h3></td>
       </tr>
       <tr>
        <td style="text-align:center"><p>{{ course.duration }}</p></td>
       </tr>
      </table>
     </td>
    </tr>
    </tbody>
   </table>
   </div>
  {% endif %}
  {% endfor %}
  </div>

</div>
