---
layout: default
permalink : /courses/info/
---

  {% include courses-nav.html %}

   <a class="anchor" id="S1"></a>
   <div style="text-align:center"><h1>Semestre 1</h1></div>
   <div class="row-fluid">
  {% assign number = 0 %}
  {% for course in site.data.course.courseS1 %}
  {% if course.discipline == "info" %}
    {% include courses-table.html %}
    {% include courses-3-each-row-discipline.html %}
  {% endif %}
  {% endfor %}
  </div>

  <a class="anchor" id="S2"></a>
  <div style="text-align:center"><h1>Semestre 2</h1></div>
  <div class="row-fluid">
  {% assign number = 0 %}
  {% for course in site.data.course.courseS2 %}
  {% if course.discipline == 'info' %}
    {% include courses-table.html %}
    {% include courses-3-each-row-discipline.html %}
  {% endif %}
  {% endfor %}

    {% for course in site.data.course.courseS2UEChoice %}
    {% if course.discipline == 'info' %}
    {% include courses-table.html %}
    {% include courses-3-each-row-discipline.html %}
  {% endif %}
  {% endfor %}

   </div>

   <a class="anchor" id="S3"></a>
   <div style="text-align:center"><h1>Semestre 3</h1></div>
   <div class="row-fluid">
  {% assign number = 0 %}
  {% for course in site.data.course.courseS3 %}
  {% if course.discipline == 'info' %}
    {% include courses-table.html %}
    {% include courses-3-each-row-discipline.html %}
  {% endif %}
  {% endfor %}
  </div>

   <a class="anchor" id="S4"></a>
   <div style="text-align:center"><h1>Semestre 4</h1></div>
   <div class="row-fluid">
  {% assign number = 0 %}
  {% for course in site.data.course.courseS4 %}
  {% if course.discipline == 'info' %}
    {% include courses-table.html %}
    {% include courses-3-each-row-discipline.html %}
  {% endif %}
  {% endfor %}
  </div>